myenv
*.sqlite3
db.sqlite3
*.pyc
api_gestão/__pycache__/
.idea


# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history